@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.navbar ul{
    display: flex;
    justify-content: center;
}

.navbar ul li {
    text-decoration: none;
    list-style: none;
    padding: 100px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(97, 56, 56);
}

.navbar a:hover {   
     border-bottom: solid 4px;
     color: rgb(97, 56, 56);
}

.sapatos-banner {
    width: 100%;
    height: 90pt;
    object-fit: cover;
    object-position: 100%;
}

.title {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 74pt;
}

.rodape{
    font-size: 17px;
}

.contact-form{
    display:flex;
    justify-items: center;
}
.contact-form textarea{
    width: 60%;
    height: 350px;
    resize: none;
    margin-bottom: 10px;
}
.contact-section{
    text-align: center;
    margin-top: 0%;
}
button{
    display: block;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 2px;
    border-radius: 10px;
    padding: 20px;
}

.fachada{
    margin-top: 60px;
    width: 50%;
    height: 100%; 

}
.contact-form form{
    width: 50%;
    height: 50%;

}
.contact-form input{
    width: 55%;
}
aside{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 40%;
    
}
.redes-sociais{
   justify-content: right;
   margin-top: 50px;
   
}
.redes-sociais img{
 width: 56px;
 display: inline;

}
.text-home{
    font-size: 20pt;
    color: rgb(97, 56, 56);
    font-family: 'Amatic SC', cursive;
    margin: 200px;
    
}
.sapato-made {
    margin:auto ;
    margin-top: 80px;
    image-resolution: 100%;
    width: 20%;
    height: 20%;

}
.titulo-horario{
    font-weight: 900;
    margin-top: 70px;
}