@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar p{
    font-size: 20pt;
    font-family: 'Dancing Script', cursive;
    margin: 40pt;

}

.navbar ul{
    display: flex;
    justify-content: center;
}

.navbar ul li {
    text-decoration: none;
    list-style: none;
    padding: 100px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(97, 56, 56);
    transition: all 400ms;
}

.navbar a:hover {   
     border-bottom: solid 4px;
     color: rgb(97, 56, 56);
}

.sapatos-banner {
    width: 100%;
    height: 90pt;
    object-fit: cover;
    object-position: 100%;
}

.title {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 74pt;
}

.rodape{
    font-size: 17px;
    justify-content: center;
    text-align: center;
    margin-top: 40pt;
    font-size: 40pt;
    background-color: rgb(97, 56, 56);
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;

   
}

.contact-form{
    display:flex;
    justify-items: center;
}
.contact-form textarea{
    width: 60%;
    height: 350px;
    resize: none;
    margin-bottom: 10px;
}
.contact-section{
    text-align: center;
    margin-top: 0%;
}
button{
    display: block;
    text-align: center;
    margin: auto;
    box-shadow: 2px 5px 5px rgb(97, 56, 56);
    border-radius: 20px;
    padding: 23px;
    transition: all 400ms;
    border-bottom: solid 5px;
    color: rgb(97, 56, 56);

}

.fachada{
    font-size: 20pt;
    font-family: 'Dancing Script', cursive;

    
    
}
.fachada img{
    margin-top: 60px;
    width: 400px;
    height: 400pt; 
    border: 10px solid rgb(97, 56, 56);
}
.contact-form form{
    width: 50%;
    height: 50%;

}
.contact-form input{
    width: 55%;
}
aside{
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 40%;
    
}
.redes-sociais{
    display: flex;
   justify-content: right;
   margin-top: 50px;

   
}
.redes-sociais img{
 width: 56px;
 display: inline;

}
.text-home{
    font-size: 20pt;
    font-weight: bold;
    color: rgb(97, 56, 56);
    font-family: 'Amatic SC', cursive;
    margin: 8%;
    
}
.sapato-made {
    display: flex;
    justify-content: center;
    margin:auto ;
    margin-top: 40px;
    image-resolution: 100%;
    width: 25%;
    height: 25%;

}
.titulo-horario{
    font-weight: 900;
    margin-top: 70px;
}
.form-contact{
    justify-content: center;
    text-align: center;
    font-size: 40pt;
    margin-bottom: 40pt;
    font-family: 'Dancing Script', cursive;

}

.photo-arnaldo {
    display: flex;
    justify-content: center;
}
.title-sobrenos{
    display: flex;
    align-items: center;
}
.title-arnaldo h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: auto;
    font-size: 40pt;
    margin-bottom: 40pt;
}
.title-arnaldo{
    font-family: 'Dancing Script', cursive;
    margin: 7%;
    font-size: 20pt;
}
.itens{
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;

}
.itens .photos-produtos img{
    width: 430px;
    height: 430px;

}
.itens .photos-produtos:nth-child(3) img {
    height: 200px;
    width: 300px;
    margin-top: 150px;
    padding-bottom: 90px;
}
.itens .photos-produtos:nth-child(5) img {
    height: 200px;
    width: 200px;
    margin-top: 150px;
    padding-bottom: 80px;
}