.navbar ul{
    display: flex;
    justify-content: center;
}

.navbar ul li {
    text-decoration: none;
    list-style: none;
    padding: 100px;
}

.navbar ul li a{
    text-decoration: none;
}

.navbar{   
     
}

.sapatos-banner {
    width: 100%;
    height: 90pt;
    object-fit: cover;
    object-position: 100%;
}
.contact-form{
    display:flex;
    justify-items: center;
}
.contact-form textarea{
    width: 100%;
    height: 350px;
    resize: none;
}
.contact-section{
    text-align: center;
}
button{
    display: block;
    text-align: center;
    margin: auto;
}

.fachada{
    width: 50%;
    height: 100%; 

}
.contact-form form{
    width: 50%;

}
.contact-form input{
    width: 55%;
}
aside{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 40%;

}