@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Fasthand&display=swap');

body{
    background-color: rgb(161, 132, 107);
}

.titulo-home {
    text-align: center;
    font-size: 40pt;
    font-family: 'Dr Sugiyama', cursive;
}

.paragrafo {
    margin: 40px auto 20px; 
    text-align: center;
    width: 1100px;
}

.navbar{
    text-align: right;
}

.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;
}

.img-home {
    text-align: center;
}

.descrição{
    width: 900px;
}

.telefone{
    font-size: 40pt;
    text-align: center;
    margin-top: 60px;
}

.img-contato{
    text-align: center;
}
